header {
    display: flex;
    justify-content: space-between;
}

button {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button img {
    height: 1em;
    width: auto;
}

.filter {
    width: 80px;
    height: 2em;
    padding: 10px;

    
    border: 1px rgb(236, 236, 236) solid;
    border-radius: 75px;
}

.staff {
    width: 100%;
    margin: 0;
}

.staff tr {
    border: 1px rgb(236, 236, 236) solid;
}

.staff th {
    background-color: transparent;
    border: none;
}

.doctor--name {
    display: flex;
    align-items: center;
}

.doctor--name h4 {
    margin-bottom: 10px;
}

.doctor--name p {
    margin-top: 1px;
    margin-bottom: 1px;
}

.booking input {
    width: 1px;
    height: 1px;
    border: none;
    position: absolute;
}

.booking button {
    width: 115px;
    height: 2em;
    padding: 0;
}

.booking img {
    height: 1.5em;
}

.pagination {
    display: flex;
    justify-content: center;
}

.doctors {
    display: flex;
    flex-direction: column;
    align-items: center;
}