.poster {
    width: calc(100% + 100px);
    margin: 0px -50px 0 -50px;
}

.feedback {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score {
    width: 60%;
    padding: 20px;
    border: 1px rgb(236, 236, 236) solid;
    border-radius: 10px;
}

.score > h4 {
    margin-bottom: 30px;
}

.scale {
    display: flex;
    justify-content: space-between;
}

.circles {
    display: flex;
    justify-content: space-between;
}

.circles > div {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bad {
    border: 1px solid red;
}

.normal {
    border: 1px solid orange;
}

.good {
    border: 1px solid green;
}

.excellent {
    border: 1px solid blue;

}
